
<h3><%= button_to "Log In With Google", '/auth/google_oauth2' %> </h3>
<h3><%= button_to('Log in with Facebook!', '/auth/facebook') %></h3>
<br>
<h1> Find someone to StudyWith </h1>

<h3> Search by <%= link_to "School", schools_path %> </h3>



