<% @post.comments.each do |c| %>
    <% if c.id != nil %>
        <div class= "posts_container">
            <h6>  Left by <%= link_to c.user.username, user_path(c.user) %> on <%= c.formated_created_at %> </h6>
            <h5> <%= c.content %> </h5>
        </div>
    <% end %>
<% end %>
