<% if logged_in? %>
    <%= form_for [@post, @comment] do |f| %>
        <label>Leave a Comment:</label><br>
        <%= f.text_area :content %><br><br>
        <%= f.submit "Leave Comment" %> 
    <% end %>
<% else %>
    <%= link_to "Sign In", login_path %> to leave a comment.
<% end %>

