<section class= "main_body">
    <div class= "large_container">
        <h2> Find Someone to StudyWith at Your School </h2>
        <p> 
            <h4>Search a School:</h4>
            <%= form_tag schools_path, :method => 'get' do %>
                <%= text_field_tag :search, params[:search] %>
                <%= submit_tag("Search", :name => nil) %>
            <% end %><br>
        </p><br>
    </div>
    <div class= "large_container">
        <% @schools.each do |school| %>
            <ul>
                <h2><%= link_to school.name, school_path(school) %></h2><br>
            </ul>
        <% end %>
    </div>
</section>