<h1> Subject's Posts </h1>

<ol>
    <% @posts.each do |post| %>
        <ul>
            <h2><%= link_to post.title, post_path(post) %></h2>
            <ul>
                <%= link_to "Edit", edit_post_path(post) %>
            </ul>
            <ul>
                <%= link_to "Show School", school_path(@school) %>
            </ul>
        </ul>
    <% end %>
</ol>



